* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: antiquewhite;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "related header header advertisement"
    "related main main advertisement"
    "footer footer footer footer ";
  gap: 50px;
}

.header {
  grid-area: header;
  text-align: center;
  padding: 20px;
  border: solid 7px rgb(255, 255, 255);
  width: 400px;
  justify-content: center;
  align-items: center;
  background: antiquewhite;
  margin: 0 auto;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
  gap: 2rem;
}

.advertisement {
  grid-area: advertisement;
  grid-column: right;
  border: solid 7px white;
  padding: 20px;

  gap: 5rem;
}
.advertisement a {
  text-decoration: none;
  color: black;
}
.advertisement .ADinfo article ul li a {
  text-decoration: none;
  color: black;
  padding: 1px;
  gap: 2rem;
}
.advertisement .ADinfo article ul li {
  text-decoration: none;
  color: black;
  padding: 1px;
}
.related {
  grid-area: related;
  width: 150px;
}

.card {
  background-color: white;
  padding: 7px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  filter: blur(400px);
  padding: 2px;
  transition: filter 0.3s ease-in-out;
}

.card img:hover {
  filter: blur(0);
}

.music {
  font-size: 18px;
  color: #333;
  border: solid 7px rgb(255, 255, 255);
  width: 400px;
  height: 100px;
  padding: 10px;
  background: antiquewhite;
  margin: 0 auto;
  display: flex;
}
.video {
  background-color: white;
  padding: 7px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
.video video {
  width: 100%;
  border-radius: 10px 10px 0 0;
  filter: blur(400px);
  padding: 2px;
  transition: filter 0.3s ease-in-out;
}
.video video:hover {
  filter: blur(0);
}
.tiffany {
  background-color: white;
  padding: 7px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.tiffany img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  filter: blur(400px);
  padding: 2px;
  transition: filter 0.3s ease-in-out;
}

.tiffany img:hover {
  filter: blur(0);
}
.emanuel {
  background-color: white;
  padding: 7px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.emanuel img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  filter: blur(400px);
  padding: 2px;
  transition: filter 0.3s ease-in-out;
}

.emanuel img:hover {
  filter: blur(0);
}

.footer {
  grid-area: footer;

  text-align: center;
  padding: 4px;
  background-color: white;
  color: black;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
}
