* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
}
.card {
  background-color: white;
  padding: 7px;
  margin: 50px auto;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  filter: blur(400px);
  padding: 2px;
}
.card img:hover {
  filter: blur(0);
  transition: filter 0.3s ease-in-out;
}
