* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar main advertisement"
    "footer footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
}
.header {
  grid-area: header;
  background-color: gray;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}
.advertisement {
  grid-area: advertisement;
  background-color: lightgray;
  padding: 26px;
  height: 100vh;
  font-size: 18px;
}

.sidebar {
  grid-area: sidebar;
  background-color: lightgray;
  padding: 20px;
  height: 100vh;
  font-size: 18px;
}
.sidebar nav ul li {
  list-style: none;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
}
.sidebar a {
  text-decoration: none;
  color: black;
}
.main {
  grid-area: main;
  background-color: white;
  padding: 26px;
  font-size: 20px;
  overflow-y: auto;
}
.footer {
  grid-area: footer;
  background-color: gray;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
}
